
.weather-container{
    background-image: linear-gradient(180deg, #130734 0%, #3b2f80 100%);
    display: flex;
    /* width: 95vh;
    height: 80vh; */
    margin: auto;
    border-radius: 12px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #888888;
  
}

.topbar{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 16px;
}
.topbar input{
    display: flex;
    width: 100%;
    max-width: 300px;
    border-radius: 20px; 
    font-size: 18px;
    padding-left: 30px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; 
    background-color: #ebfffc;
    border-radius: 40px;
    cursor: pointer;

    transition: background-color 0.4s ease, transform 0.4s ease;
}
.search-icon:hover {
    background-color: #9ff0e1;
    transform: scale(1.1);
}

.weather-image{

  margin-top: 10px; 
    display: flex;
    justify-content: center;

}

.weather-image img {
    width: 100px;
    max-width: 100%;
}
.weather-temp{
    font-size: 5vw;
    color: white;
    margin-top: 10px;
}
.weather-location{
   
        font-size: 2.5vw; 
        color: white;
        margin-bottom: 20px; 
    
}

.data-container{
    display: flex;
    margin-top: 20px;
    color: white;
    justify-content: center;
    flex-wrap: wrap;

}
.element{
    margin: 10px;
    display: flex;
      align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.data{
    font-size: 16px;
    font-weight: 400;
}

.text{
    font-size: 12px;
    font-weight: 400;
}
.status{
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.icon{
    margin-top: 5px;
}
@media (min-width: 576px) {
    .weather-temp {
        font-size: 4vw;
    }
    .weather-location {
        font-size: 2vw;
    }
}

@media (min-width: 768px) {
    .weather-temp {
        font-size: 3vw;
    }
    .weather-location {
        font-size: 1.5vw;
    }
}

@media (min-width: 992px) {
    .weather-temp {
        font-size: 2vw;
    }
    .weather-location {
        font-size: 1vw;
    }
}